---
export interface Props {
  id?: string;
}

const { id } = Astro.props as Props;
---

<button
  id={id}
  class="ml-2 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
>
  <slot />
</button>
