---
export interface Props {
  zutaten: {
    title: string;
    amount: number;
    unit: string;
  }[];
}

const { zutaten } = Astro.props as Props;
---

<div>
  <h2>Zutaten</h2>
  <table class="mt-8 table-auto border-separate border-spacing-x-4">
    <thead>
      <tr>
        <th class="text-right">Menge</th>
        <th class="text-left">Zutat</th>
      </tr>
    </thead>
    <tbody>
      {
        zutaten.map(
          (zutat: { title: string; amount: number; unit: string }) => (
            <tr class="odd:bg-slate-100">
              <td class="text-right">
                {zutat.amount && zutat.amount}
                {zutat.unit && " " + zutat.unit}
              </td>
              <td>{zutat.title}</td>
            </tr>
          )
        )
      }
    </tbody>
  </table>
</div>
