---
export interface Props {
  people: number;
  ingredients: {
    title: string;
    amount: number;
    unit: string;
  }[];
}

const { ingredients, people } = Astro.props as Props;
---

<div>
  <h2>Zutaten</h2>
  <p class="mt-4 text-lg text-gray-500">
    Für {people}
    {people === 1 ? " Person" : " Personen"}
  </p>
  <table class="mt-4 table-auto border-separate border-spacing-x-4">
    <thead>
      <tr>
        <th class="text-right">Menge</th>
        <th class="text-left">Zutat</th>
      </tr>
    </thead>
    <tbody>
      {
        ingredients.map(
          (ingredient: { title: string; amount: number; unit: string }) => (
            <tr class="odd:bg-slate-100">
              <td class="text-right">
                {ingredient.amount && ingredient.amount}
                {ingredient.unit && " " + ingredient.unit}
              </td>
              <td>{ingredient.title}</td>
            </tr>
          )
        )
      }
    </tbody>
  </table>
</div>
