---
import Base from "@layouts/Base.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { humanize } from "@lib/utils/textConverter";

import { FaHashtag } from "react-icons/fa";
import config from "@config/config.json";

const base_path = config.site.base_path;
const tags = await getTaxonomy("posts", "tags");
---

<Base title={"Tags"}>
  <section class="section">
    <div class="container text-center">
      <h1 class="h2 page-heading">Tags</h1>
      <ul class="space-x-4">
        {
          tags.map((tag) => (
            <li class="inline-block">
              <a
                href={`${base_path}/tags/${tag}`}
                class="group flex items-center rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white"
              >
                <FaHashtag className="mr-1 text-primary transition group-hover:text-white" />
                <>{humanize(tag || "")}</>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
